:root{
  --dark-black: #040306;
  --spotify-green: #1DB954;
  --light-black: #181818;
  --light-grey: #5a5656;
  --white: #fff;
  --border-radius: 4px;
}

/* ---------------- Share Code --------------- */

*{

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--light-black);
  scroll-behavior: smooth;
}

p{
  line-height: 25px;
}

.portfolio-highlights{
  color: var(--spotify-green);
}


#content section{
  padding: 80px 50px;
  background-color: var(--light-black);
  color: var(--white);
}

#scroll-to-top{
  width: 30px;
  position: fixed;
  bottom: 10px;
  right: 8px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 1;
}

#scroll-to-top svg{
  width: 20px;
  
}



/* -------------Sidebar Section ---------------- */
nav{
  display: none;
}
#sidebar{
  /* border: 1px solid red; */
  width: 8vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--dark-black);
  text-align: center;
  /* visibility: ; */
}

#sidebar #logo{
  color: var(--spotify-green);
  margin: 10px 0 120px 0;
  font-size: 25px;
  font-weight: 800;
}

#ham-burger{
  color: var(--white);
  display: none;
}

#toggle{
  display: none;
}

#sidebar ul li{
  list-style: none;
/*   padding: 10px; */
  /* margin: 2px; */
/*   border: 1px solid var(--spotify-green); */
height:  70px;
/* line-height: 70px; */
  padding-top: 20px;
}

.sidebar-icons{
  display: block;
}
.sidebar-icons svg{
  width: 17px;
  margin: 0;
  padding: 0;
}

#sidebar ul li:first-child{
  background-color: var(--light-black);
  border-left: 5px solid var(--spotify-green);
}

#sidebar ul li a{
/*   display: block; */
font-size: 12px;
}

#sidebar ul li a{
  text-decoration: none;
  outline: none;
  color: var(--white);
}

#content{
  /* border: 1px solid var(--dark-black); */
  margin-left: 8vw;
  position: relative;
}


.sec-cont{
  margin-top: 50px;
  padding: 20px;
}

#bio-desc{
  
text-align: justify;
}

.exp-desc-lst ul li, .edu-desc-lst ul li{
  margin-bottom: 12px;
}

/* ----------------------------------Home Section Starts ------------------------------- */

#home-sec{
  /* height: 100vh; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#outer-cont{
  width: 70%;
  height: 100%;
  /* position:absolute;
  left: 50%;
  top: 50%;
  transform: translate(-45%,-50%); */
  /* border: 1px solid green; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
#main-content{
  width: 61%;
  /* float: left; */
  /* border: 1px solid green; */
}

h1{
  font-size: 2.7em;
}

#main-content p{
  margin-top: 15px;
  text-align: justify;
}

#resume-btn{
  outline: none;
  width: 150px;
  padding: 10px 20px;
  margin-top: 15px;
  background-color: var(--spotify-green);
  color: var(--white);
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius);
  font-size: 1em;
}

#resume-btn a{
  text-decoration: none;
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

#profile-img{
  /* float: right; */
  /* border: 1px solid red; */
  margin-left: 20px;
  position: relative;
  height: 70%;
}

#home-sec #profile-img::after{
  content: "";
  border: 2px solid var(--spotify-green);
  position: absolute;
  top: 15px;
  left: 15px;
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--border-radius);
  
}
#home-sec #profile-img img{
  width: 180px;
  border-radius: var(--border-radius);
}

/* ------------------------------------ Bio Section Starts ----------------------------------- */

#bio-sec{
  min-height: 100vh;
  margin-top: 80px;
  
  
}

#bio-sec h2{
  margin-left: 172px;
}

#bio-sec-cont{
  /* border: 1px solid yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#bio-cont{
  width: 80%;
  padding: 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: center; */
}

#bio-desc{

display: inline-block;
width: 50%;
}

#bio-desc p{
  text-align: left;
}

#skills{
float: right;
display: inline-block;
width: 40%;
}

#skills img{
  width: 100%;
}


/* -------------------------Education Section Start --------------------------------- */
#edu-sec{
  position: relative;
  min-height: 60vh;
  margin-top: 50px;
}

#edu-sec h2{
  margin-left: 182px;
}

#edu-sec-cont{
  width: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#edu-cont{
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#edu-headings{

  height: 100%;
  width: 40%;
  margin-right: 20px;
}

#edu-headings button{
  display: block;
  outline: none;
  text-decoration: none;
  padding: 8px 16px;
  width: 70%;
  background-color: var(--light-grey);
  color: var(--white);
  /* border-left: 2px solid var(--spotify-green); */
  border: none;
  border-left: 2px solid var(--light-grey);
  cursor: pointer;

}

#edu-tab-0{
  border-left: 2px solid var(--spotify-green) !important;
}

#edu-tab-1{
  background-color: var(--light-black) !important;
}

#edu-desc{
  /* float: right; */
  width: 50%; 
  /* position: relative; */
  /* border: 2px solid orange; */
  /* margin-right: 50px; */
  
}

#edu-desc h3, #exp-desc h3{
  
  color: var(--spotify-green);
}
#edu-desc, #exp-desc{
  line-height: 20px;
}
#edu-panel-1, #exp-panel-1{
  display: none;
}

#edu-desc p, #exp-desc p{
  font-size: 13px;
  margin: 5px 0;
  color: var(--light-grey);
  font-weight: 600;
}

.edu-desc-lst, .exp-desc-lst{
  padding-left: 50px;
}


/* ------------------------------------------Experience Section Start ---------------------------- */
#exp-sec{
  position: relative;
  width: 100%;  
  min-height: 100vh;
}

#exp-sec h2{
  margin-left: 205px;
}
#exp-sec-cont{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#exp-cont{
  width: 70%;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

#exp-desc{
  /* float: left; */
  /* display: inline-block; */
  width: 50%;
  margin-left: 20px;
}

#exp-headings{
  /* float: right;
  display: inline-block; */
  width: 40%;
  margin-right: 20px;
}

#exp-headings button{
  display: block;
  outline: none;
  text-decoration: none;
  border: none;
  padding: 8px 16px;
  width: 80%;
  background-color: var(--light-grey);
  color: var(--white);
  /* border-left: 2px solid var(--spotify-green); */
  border-right: 2px solid var(--light-grey);
  cursor: pointer;
}

#exp-tab-0{
  border-right: 2px solid var(--spotify-green) !important;
}

#exp-tab-1{
  background-color: var(--light-black) !important;
}
#exp-tab-2{
  background-color: var(--light-black) !important;
}


/*--------------------------------------- Project Section Start ---------------------------- */

#prj-sec{
  height: auto;
  margin-top: 80px;
}

#prj-sec h2{
  text-align: center;
}

#prj-sec-cont{
  margin-top: 80px;
}
.prj-cont{
  /* border: 1px solid orange; */
  margin-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.prj-cont .prj-pic-cont{
  text-align: right;
}
.prj-cont .prj-pic-cont-left{
  text-align: left;  
}
.prj-pic-cont{
  /* float: left; */
  /* display: block; */
  width: 30%;
  /* border: 1px solid red; */
}

.prj-pic-cont img{
  width: 193px;
}

.prj-desc-cont{
  /* float: right; */
  /* display: block; */
  width: 40%;
  text-align: right;
  /* border: 1px solid yellow; */
  /* margin: 20px; */
  /* padding-right: 25px; */
}

.prj-desc-cont-left{
  text-align: left;
  /* padding-left: 25px; */
}

.prj-type{
  font-size: 14px;
  color: var(--light-grey);
  font-weight: 600;
}

.prj-title{
  font-size: 25px;
  color: var(--spotify-green);
}

.prj-desc{
  margin-top: 20px;
}


.tech-tools{
  margin: 20px 0;
  color: var(--light-grey);
  font-weight: 600;
  font-size: 14px;
}

.tech-tools li:first-child{
  margin-left: 0px;
}
.tech-tools li {
  text-decoration: none;
  outline: none;
  border: none;
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
  text-align: right;
}
.tech-tools li:last-child{
  margin-right: 0px;
}

.ext-links a{
  text-decoration: none;
  outline: none;
  border: none;
}

.ext-links a svg{
  width: 20px;
  margin: 0 8px;
}


/* ----------------- Blog Section ------------------ */
#blog-sec {
  text-align: center;
  height: auto;
  
  margin-top: 80px;
}
#blog-sec-cont{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#blog{
  /* margin-top: 50px; */
  
}

.blog-cont{
  height: 300px;
  width: 300px;
  margin: 20px 13px 20px 13px;

}
.blog-img-cont{
  height: 75%;
  
}

.blog-img-cont img{
  height: 100%;
  width: 100%;
  /* width: 100%; */
  object-fit: cover !important;
}

.blog-desc-cont{
  height: 25%;
  padding: 10px 5px;
  border: 2px solid #221f1f;
}
.blog-desc-cont a{
  text-decoration: none;
  color: var(--white);
}
.blog-desc-cont span{
  display: block;
  margin-top: 5px;
  width: auto;
  text-align: left;
}

.blog-title{
  
  font-size: 15px;
  /* font-weight: bold; */
}

.blog-date{
  
  font-size: 12px;
}



/* --------------Contact Me Start ------------------ */
#contact-sec{
  height: 100vh;
  position: relative;
  /* margin-top: 80px; */
  display: flex;
  justify-content: center;
}

#contact-sec-cont{
  display: flex;
  flex-direction: column;
  width: 42%;
  text-align: center;
}

#contact-sec-cont p{
  margin-top: 60px;
}

#contact-form{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "fname lname"
  "email email"
  "msg_sub msg_sub"
  "msg msg"
  "submit_btn submit_btn";
  grid-gap: 5px;
}

#fname{
  grid-area: fname;
}

#lname{
  grid-area: lname;
}
#email{
  grid-area: email;
}
#msg_sub{
  grid-area: msg_sub;
}
#msg{
  grid-area: msg;
}
#contact-submit-btn{
  grid-area: submit_btn;
}

#form-upper input{
  width: 49.5%;
  margin: 0;
  padding: 0;
}

#form-lower input, #form-lower textarea{
  display: block;
  width: 100%;
  
}

#contact-form input, textarea{
  outline: none;
  border: none;
  padding: 2px 8px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 15px;  
  font-weight: bolder !important;
}

#contact-submit-btn{
  background-color: var(--spotify-green);
  color: var(--white);
  
  letter-spacing: 1.2px;
}

#social-links{
  margin-top: 30px;
}

#social-links ul{
}

#social-links ul li{
  text-decoration: none;
  list-style-type: none;
  width: 30px;
  display: inline-block;
  margin-right: 30px;
  cursor: pointer;
}

/* --------------------- Footer Section --------------- */

#footer-sec{
  padding: 0 0 0 0 !important;
  position: fixed;
  bottom: 220px;
  right: -152px;
  transform: rotate(90deg);
  z-index: 9;
  color: var(--white);
}

#footer-sec a{
  text-decoration: none;
  color: var(--spotify-green);
}


/* Media Queries */

@media only screen and (max-width: 768px){

  /* ---------- Sharing code ---------------- */
  .edu-desc-lst, .exp-desc-lst{
    padding-left: 10px;
  }

  .sec-cont{
    padding: 0;
  }
  
  #scroll-to-top{
    right: 0.5px;
  }
  #scroll-to-top svg{
    width: 15px;
  }

  #sidebar{
    /* display: none; */
    width: 100vw;
    height: auto;
    min-height: 8vh;
    z-index: 999999;
  }
  #sidebar #logo{
    margin: 0 0 0 20px;
    float: left;
    line-height: 12vh;
  }
  
  #ham-burger{
      margin: 0 26px 0 0;
      font-size: 25px;
      float: right;
      display: block;
      color: var(--white);
      cursor: pointer;
      float: right;
      
    line-height: 12vh;
    }

    #nav{
      display: none;
      background-color:  var(--dark-black);
      
    }

    #sidebar ul li{
      height:  50px;
      /* line-height: 70px; */
        padding-top: 5px;
      }
    
  
    #nav li{
      display: block;
    }
    #toggle{
      display: none;
    }
    #toggle:checked + #nav{
      display: block;
      width: 100%;
      text-align: center;
  /*     "clear" property Doesn't allow #nav to float on right side*/
      /* clear: right;   */
  /*     border: 2px solid black; */
      margin-top: 80px;
    }


    /* --------------- Home Section ----------------- */

  #home-sec h1{
    font-size: 1.3em;
  }
  #home-sec h3{
    font-size: 14px;
  }
  #outer-cont{
    width: 100%;
    justify-content: center;
  }
  #main-content{
    width: 100%;
  }

  #main-content p{
    margin-top: 40px;
  }

  #profile-img{
    margin-top: 60px;
  }
  
  #content{
    margin-left: 0;
  }



  /* ---------------- Bio Section ------------------------ */

  #bio-sec h2{
    text-align: center;
    margin-left: 0;
  }
  #bio-cont{
    width: auto;
    padding: 40px 0 0 0;
    justify-content: center;
  }

  #bio-desc{
    width: 100%;
  }

  #bio-desc p{
    
    text-align: justify;
  }

  #skills {
    width: 80%;
    margin-top: 50px;
  }

  
/* ------------------- Education Section ------------------ */
#edu-sec{
  margin-top: 0;
}
#edu-sec h2{
  text-align: center;
  margin-left: 0;
}
#edu-sec-cont{

  width: 100%;
}
#edu-cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#edu-headings{
  display: block;
  height: 100%;
  width: 100%;
  /* margin-right: 20px; */
  /* overflow-x: scroll; */
  display: flex;
  flex-direction: row;
  margin-right: 0;
}

#edu-headings button{
  outline: none;
  text-decoration: none;
  display: inline-block;
  inline-size: 300px;
  border: none;
  border-bottom: 2px solid var(--light-grey) ;
}

#edu-tab-0{
  border-left: none !important;
  border-bottom: 2px solid var(--spotify-green) !important;
}

#edu-desc{
  width: 100%;
  text-align: justify;
  margin-top: 30px;
}
/* ------------------- Experience Section ------------------ */

#exp-sec h2{
  text-align: center;
  margin-left: 0;
}
#exp-cont{
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#exp-sec-cont{
  position: relative;
}

#exp-desc{
  width: 100%;
  text-align: justify;
  margin-left: 0;
  margin-top: 30px;
}


#exp-headings{
  display: flex;
  flex-direction: row;
  margin-right: 0;
  width: 100%;
}

#exp-headings button{
  border: none;
  border-bottom: 2px solid var(--light-grey);
}

#exp-tab-0{
  border-right: none !important;
  border-bottom: 2px solid var(--spotify-green) !important;
}

/* ------------------- Project Section ---------------------- */
#prj-sec{
  margin-top: 0;
}
.prj-cont{
  margin-bottom: 60px;
}
.prj-pic-cont{
  width: 100%;
}

.prj-desc-cont{
  width: 100%;
  margin-top: 30px;
  text-align: justify;
}

.prj-cont-reverse{
  display: flex;
  flex-direction: column-reverse;
  flex-wrap: wrap;
}

.prj-cont .prj-pic-cont{
  text-align: center;
}
.prj-cont .prj-pic-cont-left{
  text-align: center;  
}

/* ------------------- Blogs Section ------------------------- */
#blog-sec{
  margin-top: 0px;
}
.blog-cont{
  width: 100%;
}

/* --------------------Contact Section ------------------------ */
#contact-sec{
  margin-top: 0;
}
#contact-sec-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#contact-form{
  width: 100%;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 
  "fname fname"
  "lname lname"
  "email email"
  "msg_sub msg_sub"
  "msg msg"
  "submit_btn submit_btn";
  grid-gap: 5px;
}
#form-upper input{
  width: 100%;
}

#social-links{
  margin-top: 30px;
}

#social-links ul{
}

#social-links ul li{
  text-decoration: none;
  list-style-type: none;
  width: 25px;
  display: inline-block;
  margin-right: 20px;
  cursor: pointer;
}

#footer-sec{
  bottom: 190px;
  right: -138px;
}

#footer-sec p{
  font-size: 14px;
}


}

